input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}


input[type="date"]::-moz-calendar-picker-indicator {
    color: white;
}


input[type="number"]::-webkit-inner-spin-button {
    filter: invert(1); 
}


input[type="number"]::-webkit-outer-spin-button {
    filter: invert(1); 
}